.carList {
  width: 90vw;
  margin: 20px auto 0;
  padding: 1rem;
}

@media screen and (min-width: 769px) {
  .carList {
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
  }
}
