.recomendedMovies {
  float: left;
  width: 300px;
  margin-left: 30px;
  margin-top: 10px;
  background-image: url("../pictures/film1.jpg");
  padding: 10px;
  border: 3px solid #333;
  border-radius: 20px;
  box-shadow: 5px 5px 12px #333;
  font-weight: bolder;
}

.moviesLook {
  max-width: 100%;
  margin-left: 100%;
}

.movieLooking {
  background-image: url("../pictures/film1.jpg");
}

button {
  box-shadow: 5px 5px 10px dodgerblue;
}

.addingLook {
  float: left;
  width: 40%;
  margin-left: 30px;
  margin-top: -400px;
  padding: 10px;
  border: 3px solid #333;
  border-radius: 20px;
  box-shadow: 5px 5px 12px #333;
  font-weight: bolder;
  background: whitesmoke;
}

label {
  padding-left: 30px;
  padding-right: 50px;
}

input,
select {
  width: 300px;
}

.favoriteList {
  float: left;
  width: 55%;
  margin-left: 600px;
  margin-top: -340px;
  padding: 10px;
  border: 3px solid #333;
  border-radius: 20px;
  box-shadow: 5px 5px 12px #333;
  font-weight: bolder;
  background: whitesmoke;
}
