.carLook {
  margin-top: 80px;
  background: lightgrey;
  border-radius: 0.8rem;
  padding-bottom: 5px;
}

.carLook img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.carLook h2 {
  text-transform: capitalize;
  text-align: center;
  font-weight: bolder;
}

.carLook p {
  padding: 5px;
  text-align: justify;
}

.carLook h3 {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
  border: 2px solid #333;
  border-radius: 10px;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 5px 5px 15px #333;
}
.carLook h3:hover {
  border: 4px solid #333;
}

.moreInfo {
  border: 2px solid #333;
  border-radius: 25px;
  margin-top: -15px;
  padding: 5px;
  box-shadow: 3px 3px 10px #333;
}

@media screen and (min-width: 769px) {
  .carLook {
    height: 600px;
  }
  .moreInfo {
    height: 650px;
  }
}
