.fonOne {
  font-family: "Dokdo", cursive;
}
.fontTwo,
p {
  font-family: "Roboto Slab", serif;
}
.fontThree {
  font-family: "Inconsolata", monospace;
}
.fontFour {
  font-family: "Lobster", cursive;
}
.fontFive {
  font-family: "Merienda", cursive;
}
.fontSix {
  font-family: "Righteous", cursive;
}

body {
  background-color: whitesmoke;
}

a {
  font-weight: bolder;
  font-size: 35px;
  font-family: "Dokdo", cursive;
}
a:hover {
  font-family: "Roboto Slab", serif;
}

.brandLook {
  color: whitesmoke;
}

.brandLook:hover {
  text-decoration: none;
  color: white;
  font-size: 26px;
}

.dropLook {
  color: #333;
  font-weight: bolder;
  font-size: 20px;
}

.dropLook:hover {
  text-decoration: none;
  color: dodgerblue;
}

.quiz-look {
  margin-top: 30px;
  border: 2pz solid #333;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 10px 10px 10px #333;
}

h5,
h3,
h2 {
  text-align: center;
  font-weight: bolder;
  text-shadow: 5px 5px 10px #333;
  font-family: "Dokdo", cursive;
}

.imgLook {
  max-height: 300px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #333;
}

.dicesLook {
  margin-top: 20px;
}

.movieLook1 {
  max-height: 230px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 10px #333;
  border-radius: 10px;
}

.headingLook {
  text-align: center;
  margin-top: -100px;

  color: black;
  font-weight: bolder;
  text-shadow: 5px 5px 10px white;
}
.carLook1 {
  box-shadow: 10px 10px 10px #333;
}

@media screen and (min-width: 769px) {
  .movieLook1 {
    max-height: 310px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px #333;
    border-radius: 10px;
  }

  .headingLook {
    text-align: center;
    margin-top: -100px;
    margin-left: -40px;
    color: black;
    font-weight: bolder;
    text-shadow: 5px 5px 10px white;
  }
}
